<div class="text-center padded">
<h1> Welcome to the Cocktail Creator </h1>
<br>
  <%= form_for(@cocktail) do |f| %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :name %>
  <br>
  <%= f.submit %>
  <% end %>
  <br>
</div>
<div class='padded'>
</div>
<div class="text-center padded">
  <button type="button" class="btn btn-default"><%= link_to 'Back to Index', cocktails_path %></button>
</div>
