<div class='container text-center'>
  <h1>You selected: <%= @cocktail.name %></h1>

</div>
<br>
<div class="text-center padded">
  <ul class ="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
    <li>Dosage: <%= dose.description %> <br> Ingredient :<%= Ingredient.find(dose.ingredient_id).name %> <br>
      <button type="button" class="btn btn-default"><%= link_to 'Delete this Ingredient', cocktail_doses_path(@cocktail), method: :delete, :data => { :confirm => "Are your sure?"} %></button></li>
      <br>
      <% end %>
    </ul>
    <br>
    <button type="button"><%= link_to "Add a new ingredient to this cocktail", new_cocktail_dose_path(@cocktail) %></button>
  </div>

  <div class="text-center padded">

  </div>


  <div class='padded'>
  </div>


  <div class="text-center padded">
    <button type="button" class="btn btn-default"><%= link_to 'Back to Index', cocktails_path %></button>
  </div>
