<div class='text-center'>
  <h1>Doses</h1>
  <h1> Add a new Ingredient to <%= @cocktail.name %></h1>
</div>


<%= simple_form_for [:cocktail, @dose] do |f| %>
<%= f.error_notification %>

<%= f.input :description %>
<%= f.input :ingredient_id, collection: @available_ingredients%>
<%= f.submit  %>
<% end %>
<div class="text-center">
  <button type="button" class="btn btn-default"><%= link_to 'Back to Cocktail', cocktail_path(@cocktail) %></button>
</div>
<br>
<div class="text-center">
  <button type="button" class="btn btn-default"><%= link_to 'Back to Index', cocktails_path %></button>
</div>